/* .btn_edit {
  background-color: rgba(0, 128, 0, 0.8);
  border-radius: 10px;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15); 
}

.btn_delete {
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 10px;
}
table {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
}
table,
th,
td {
  border: 1px solid black;
} */
